.body {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.title {
  text-align: center;
  width: 100%;
  margin: 50px auto;
  font-family: "Roboto";
  font-size: 45px;
  font-weight: 700;
  color: #fff;
}

.main {
  margin: 0 50px;
  display: flex;
  gap: 40px;
  overflow-x: auto;
}

.comparisonBtnContainer {
  width: 100%;
  margin: 50px auto;

  display: grid;
  justify-items: center;
}

.comparisonBtn {
  padding: 12px 24px;
  font-size: 14px;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 4px;
}
